.appointlbl {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  margin-left: 10px;
  margin-right: 10px;
}

.appointselect {
  margin-bottom: 5px;
  color: #555;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
}

.appointtext {
  margin-bottom: 5px;
  color: #555;
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}

.appointinp {
  width: 100%;
  color: #555;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.appointButton {
  background-color: #0c356a;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 24px 0;
  transition: background-color 0.3s ease;
  width: 100%;
}

.appointButton:hover {
  background-color: green;
}

@media (max-width: 600px) {
  input,
  select,
  textarea,
  button {
    font-size: 14px;
  }
}

.appcon {
  display: contents;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #ced4da;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-right: 110px;
  padding-left: 110px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eceeef;
  border-radius: 30px;
  opacity: 0.9;
  gap: 0px;
}

.appcont {
  align-items: center;
  padding: 80px;
  background-image: url("../Assets/app1.jpg");
}

.appointLog {
  background-color: #eed6bb;
  border: 1px solid #ced4da;
  width: 70%;
  border-radius: 8px;
  padding: 40px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 0px;
}

.heading {
  font-family: "Almarai", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.appointForm {
  width: 100%;
  /*grid-template-rows: repeat(5, 1fr);*/
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.subdiv1 {
  grid-column: 1;
  grid-row: 1;
}

.subdiv2 {
  grid-column: 2;
  grid-row: 1;
}

.subdiv3 {
  grid-column: 1;
  grid-row: 2;
}

.subdiv4 {
  grid-column: 2;
  grid-row: 2;
}

.subdiv5 {
  grid-column: 1;
  grid-row: 3;
}

.subdiv6 {
  grid-column: 2;
  grid-row: 3;
}

.subdiv7 {
  grid-column: 1;
  grid-row: 4;
}

.subdiv8 {
  grid-column: 2;
  grid-row: 4;
}

.subdiv9 {
  grid-column: 1 / span 2;
  grid-row: 5;
}

.subdiv10 {
  grid-column: 1 / span 2;
  grid-row: 6;
}

.subdiv1,
.subdiv2,
.subdiv3,
.subdiv4,
.subdiv5,
.subdiv6,
.subdiv7,
.subdiv8,
.subdiv9,
.subdiv10 {
  box-sizing: border-box;
  padding: 0 32px;
  height: 100px;
}

.appointdate {
  display: block;
  margin-bottom: 5px;
  color: #555;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.heading h1 {
  color: #0c356a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.subdiv9 textarea {
  width: 100%;
}
