.doccontainer{
    margin: 20px;
    margin-top: 50px;
    background-color: #e0dfdf;
    border-radius: 5px;
    height: 70%;
    opacity: 0.9;
}

.maindoc{
  /* background-color: #e3e3e3; */
  background-color: white;
   height: 140vh;
}
.maindoctit{
  text-align: right;
  margin-right: 20px;
  font-size: 2.5rem;
  color: #0C356A;
  font-family: 'Almarai', sans-serif;
}



.maindoctit span{
  font-size: 2.5rem;
  color: #476185;
  font-family: 'Almarai', sans-serif;
}

.doccontainer h2{
    text-align: left;
    padding: 50px 0px 0px 50px;
    font-size: 2.5rem;
    color: #0C356A;
}

.dailyap{
    margin: 10px 20px 20px 20px;
    /* height: 80%; */
    height: 80vh;
}


.appobj {
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width:auto;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .appobj h3 {
    color: #454da5;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  
  .appobj p {
    margin: 5px 0;
    margin-bottom: 16px;
  }
  
  .appobj button {
    background-color: #0C356A;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .appobj button:hover {
    background-color: #104385;
  }
  
  .diag {
    /* Add your existing styles for the diag container here */
    position: relative;
  }
  
  .diag textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
  }

  .docdashheader{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-items: center;
  }
  
  .docdashheader h2{
    color: #0C356A;
    font-family: 'Almarai', sans-serif;
    margin-left: 20px;
  }