/* In a CSS file */
.butc {
    background-color: red;
    border: none;
  }
  
  .butc:hover {
    background-color: tomato;
    color: white;
    border: none;
  }

  .docnavbar{
    background-color: #b5b1b1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 50px;
    align-items: center ;
  }
  