.container{
    background-image: url("../Assets/backgroundlogin.jpg");
    background-size: cover;
    
    height: 100vh;
}

.box{
    position: absolute;
    top: 200px;
    right: 40px;
    border-radius: 20px;
    padding-right: 50px;
    height: 450px;
    width: 400px;
    background-color:  #FFD099;
    align-items: center;
    padding-left: 50px;
    margin: auto;
    opacity: 0.9;
}

  

  h2 {
    color: #333;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style form labels */
  .loginlbl {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  

  .loginipt {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .loginbtn {
    width: 100%;
    padding: 10px;
    background-color: mediumseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginbtn:hover {
    background-color:  green;
  }
  .password-toggle-icon{
    position:absolute;
    top: 220px;
    right:55px;
    z-index: 1000;
    cursor: pointer;
    font-size: 19px;
  }
  