.container{
    background-image: url("../Assets/image.png");
    background-size: cover;
    
    height: 120vh;
}

.box{
    position: absolute;
    top: 200px;
    right: 20px;
    border-radius: 20px;
    padding-right: 50px;
    height: 380px;
    width: 350px;
    background-color:  #FFD099;
    align-items: center;
    padding-left: 50px;
    margin: auto;
}

  

  h2 {
    color: #333;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style form labels */
  .loginlbl {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  

  .loginipt {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .loginbtn {
    width: 100%;
    padding: 10px;
    background-color: mediumseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginbtn:hover {
    background-color:  green;
  }
  .password-toggle-icon{
    position:relative;
    bottom: 48px;
    left: 92%;
  }
  

  .spinlog {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 174px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  