.navbar {
    background-color: #FF9209;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 50px;
    align-items: center ;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}



.linkc{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    background-color: #2B3499;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 1.2rem;
    margin: 8px;
}

.linkc:hover {
    cursor: pointer;
    background-color: #FFD099;
    transform: scale(1.1);
    color: #0C356A;
    border: 1px solid #FFD099;
}   

.tt{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.title h1{
    color:  #0C356A;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
} 

.title h2{
    color:#454da5;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#loginNav {
    background-color: mediumseagreen;
}

#loginNav:hover {
    cursor: pointer;
    background-color: green;
    transform: scale(1.1);
    color: #FFD099;
    border: 1px solid green;
}

*{
    font-family: 'Poppins', sans-serif;
}