.otpContainer {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("https://images.unsplash.com/photo-1628422537562-0980980f52a0?q=80&w=2003&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
  }

  .otpContainer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3); 
  }
  
  .otpBox {
    width: 400px;
    height: auto;
    margin-right: 15%;
    background-color: #eed6bb;
    padding: 50px;
    border-radius: 5%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 5px solid #edc89d;;
  }
  
  .otpFormInput {
    display: flex;
    gap: 10px;
  }
  
  .otpFormInput input {
    padding: 10px;
    font-size: 26px;
    border: 2px solid #2B3499;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 40px;
    text-align: center;
  }
  
  .otpFormInput input:focus {
    outline: none;
    border: 5px solid #2B3499;
    box-shadow: 0 0 8px rgba(43, 52, 153, 0.8);
  }
  
  .otpFormInput input::placeholder {
    color: #999;
  }
  
  .btnotp {
    color: white;
    background-color: #2B3499;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    width: 100%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .btnotp:hover {
    cursor: pointer;
    background-color: green;
    transform: scale(1.1); 
    color: white;
    border: 1px solid #FFD099;
  }
  
  .otpBox form{
    display: flex;
    color:#0C356A ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .spinnerotp {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 45%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  