.otpContainer {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("https://images.unsplash.com/photo-1628422537562-0980980f52a0?q=80&w=2003&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}


.otpBox {
    width: 20%;
    height: auto;
    margin-right: 15%;
    background-color: #eed6bb;
    padding: 50px;
    border-radius: 5%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add box shadow */
    border: 10px solid #edc89d;
}




.otpFormInput input {
    padding: 10px;
    font-size: 26px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 92.5%;
}

.otpFormInput input::placeholder {
    color: #999;
}

.btnotp {
    color: white;
    background-color: #2B3499;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-left: 20px;
    padding-right: 20px ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 27%;
  }

  .btnotp:hover {
    cursor: pointer;
    background-color: green;
    transform: scale(1.1) ; 
    color: white;
    border: 1px solid #FFD099;
  }