.previouscont {
  height: 100vh;
  align-items: center;
  background-color: #efefef;
  padding-bottom: 20px;
  padding-top: 20px;
}

.previouscon {
  align-items: center;
  height: 100%;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #d2d2d2;
  border-radius: 10px;
  opacity: 0.9;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 20px 0px 20px;
  margin-bottom: 40px;
}

.headingprevious {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.headingprevious button {
  width: 100%;
  padding: 20px;
}

.gotoupcombutton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.gotoupcombutton:hover {
  background-color: #fff;
}

.gotoupcombutton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .gotoupcombutton {
    min-width: 120px;
    padding: 0 25px;
  }
}

.previousconinside {
  background-color: #fff7ee;
  padding: 20px;
  height: 100vh;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.apposprev {
  border: 1px;
  border-radius: 20px;
  padding: 10px;
  background-color: #faf6f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: 100%;
}

.apposrowprev {
  margin-bottom: 30px;
}
