
.statusContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusLogBox{
    width: 40%;
}

/* .statusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .statusLogBox {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .statusFormHeading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .statusFormInput {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .ToastContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
   */