.verifiedcont {
  height: 100%;
  align-items: center;
  padding: 80px;
  background-color: #a6e3e9;
  background-size: cover;
}

.verifiedcon {
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ced4da;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-right: 40px;
  padding-left: 100px;

  padding-bottom: 20px;
  background-color: #cbf1f5;
  border-radius: 30px;
  opacity: 0.9;
}

.headingverified {
  text-align: center;
  padding: 50px 0px 10px 50px;
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.gotoprevbutton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.gotoprevbutton:hover {
  background-color: #fff;
}

.gotoprevbutton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .gotoprevbutton {
    min-width: 120px;
    padding: 0 25px;
  }
}
