.verifiedcont {
  height: 100vh;
  align-items: center;
  background-color: #efefef;
  padding-bottom: 20px;
  padding-top: 20px;
}

.verifiedcon {
  align-items: center;
  height: 97vh;
  justify-content: space-between;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: #d2d2d2;
  border-radius: 10px;
  opacity: 0.9;
  margin: 0px 20px;
  padding: 20px 20px 0px 20px;
}

.headingverified {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.headingverified button {
  width: 100%;
  padding: 20px;
}

.appos {
  background-color: #fff7ee;
  padding: 20px;
  height: 68%;
  overflow-y: auto;
  margin-bottom: 10px;
}

.testos {
  background-color: #fff7ee;
  padding: 20px;
  height: 68%;
  overflow-y: auto;
  margin-bottom: 10px;
}
.gotoprevbutton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.gotoprevbutton:hover {
  background-color: #fff;
}

.gotoprevbutton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .gotoprevbutton {
    min-width: 120px;
    padding: 0 25px;
  }
}

.vesbuta {
  color: #0c356a;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
}

.vesbutt {
  color: #0c356a;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
}

.clickity {
  background-color: #fff7ee;
  border: none;
  transform: scale(1.01);
}
